div {
    display:table;
    margin:auto;
}

#tableroAjedrez{
	border: 3px solid black;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 4px 4px 12px green;
}

.cuadrado {
    width: 70px;
    height: 70px;
    background: white;
    display: inline-block;
}

.negro {
    background: black;
}

.fila {
    display: flex;
}